<% layout('layout/boilerplate') -%>
    <form action="/product/productDetail" method="post">
        <div class="mb-3">
            <label for="pid" class="form-label">Product Id</label>
            <input type="text" class="form-control" id="pid" name="pid">
        </div>
        <div class="mb-3">
            <label for="ptitle" class="form-label">Title</label>
            <input type="text" class="form-control" id="ptitle" name="title">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" id="description" name="description">
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="number" class="form-control" id="price" name="price">
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <input type="text" class="form-control" id="category" name="category">
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input type="text" class="form-control" id="image" name="image">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  