<% layout('layout/boilerplate') -%>
<h1>My cart</h1>
<% for(let item of cartItem){ %>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="<%= item.image %>" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= item.title %></h5>
        <p class="card-text"><%=item.description  %></p>
        <a href="">+</a>
        <a href="">-</a>
        <a href="">Remove</a>
      </div>
    </div>
  </div>
</div>
<% } %>